<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODOMVC</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="todomvc">
		<section class="todoapp">
			<todo-header title="Hello" @add-todo="todos.push($event)"></todo-header>
			<section class="main">
				<input id="toggle-all" class="toggle-all" v-model="toggleAll" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<todo v-for="todo in filteredTodos" :todo="todo" @delete="deleteByID"></todo>
				</ul>
			</section>
			<footer class="footer">
				<todo-count :nb="activeTodos.length"></todo-count>
				<todo-filters :filter.sync="filter" :list="['all', 'active', 'completed']"></todo-filters>
				<button v-if="completedTodos.length" @click="todos = activeTodos" class="clear-completed">
					Clear completed
				</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
		</footer>
	</div>
	<script src="components/todo-header.js"></script>
	<script src="components/todo.js"></script>
	<script src="components/todo-count.js"></script>
	<script src="components/todo-filters.js"></script>
  <script>
    var vm = new Vue({
			el: '#todomvc',
      data: {
				todos: [],
				filter: 'all'
      },
			computed: {
				toggleAll: {
					get: function () {
						return this.activeTodos.length === 0
					},
					set: function (value) {
						this.todos.forEach(function (todo) {
							todo.completed = value
						})
					}
				},
				filteredTodos: function () {
					if (this.filter === 'active') {
						return this.activeTodos
					} else if (this.filter === 'completed') {
						return this.completedTodos
					} else {
						return this.todos
					}
				},
				activeTodos: function () {
					return this.todos.filter(function (todo) {
						return todo.completed === false
					})
				},
				completedTodos: function () {
					return this.todos.filter(function (todo) {
						return todo.completed === true
					})
				}
			},
			methods: {
				deleteByID: function (id) {
					this.todos = this.todos.filter(function (todo) {
						return todo.id !== id
					})
				}
			}
    })
  </script>
</body>
</html>